


@media only screen and (min-width: 992px) { 

#YN {
	left:126px;
}

#YP {
	left:126px;
}


}

@media only screen and (max-width: 992px) { 

#YN {
	left:124px;
}

#YP {
	left:124px;
}

}

@media only screen and (max-width: 768px) { 


#YN {
	left:120px;
}

#YP {
	left:120px;
}

 
}

@media only screen and (max-width: 600px) { 



}